<?php
/**
 * @package Pages
 * @copyright Copyright 2008-2010 RubikIntegration.com
 * @author yellow1912
 * @license http://www.zen-cart.com/license/2_0.txt GNU Public License V2.0
 */

/**
 * NOTE: You can use php files for both javascript and css.
 *
 * Global variables must be declared global as they are referenced inside the loader class
 *
 * They must be coded like so:
 * Javascript:
 * <script language="javascript" type="text/javascript">
 * <?php // php code goes here ?>
 * </script>
 *
 * CSS:
 * <style type="text/css">
 * <?php // php code goes here ?>
 * </style>
 */

$loaders[] = array(
	'conditions' => 
		array(
			'pages' => array('index_home', 'product_info'), // if you want to load on all pages, use 'pages' => array('*')  
			'call_backs' => array('is_logged_in','class_name,method_name') // the loader will attempt to call these functions to check if the css/js files should be loaded
			),
     	'libs' => array(
     		'jquery' => array('min' => '1.4.2', 'max' => 1.4.2)
     		),
        // the "key" of this associate array is the "path" which is relative to the css or jscript folder
    	// the "value" is the order the file should be loaded
        'jscript_files' => array(
        	'path/file.css' => 11,
           	'test.php' => 11 // you can even use php file
            ),
        'css_files' => array(
        	'mycss/something.css' => 11,
            'something.php'=> 11 // you can even use php file
        	)
);
